@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Courier+Prime&display=swap');

body {
    background-color: #0b0c0f;
}
header {
    display:grid;
    grid-template-columns: 1fr 2fr;
}
p{
    font-family: 'Open Sans';
    color:white;
}
h1, h2, h3 {
    font-family: 'Courier Prime';
    color:white;
}
ul {
    color:white;
}
ul a {
    color:blue;
    font-family: 'Open Sans';
}
li {
    font-family: 'Open Sans';
    color:white;
}
.home-title {
    align-self:center;
    width:100px;
    text-align: center;
    font-family: 'Courier Prime';
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right:35px;
    grid-column:2/3;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 30px;
    text-align: center;
    font-family: 'Courier Prime';
    font-size: 1.5em;
}
nav a:hover, .home-nav:hover{
    background-color: black;
}

.content {
    background-color: #121318;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 40px;
    padding:30px;
    border-radius: 25px;
    border-style:solid;
    border-width:1px;
    border-color:#26282e;
}
#socio-content{
    display:grid;
    /* grid-template-columns: ;
    grid-template-rows: ; */
}
/************ SIDENAV ************/
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0b0c0f; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a:not(.nav-logo-link) {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans';
    color: white;
    display: block;
  }  
  .sidenav a:hover:not(.nav-logo-link) {
    color: #f1f1f1;
    background-color: black;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.nav-logo {
    width: 120px;
    transition: all .2s ease-in-out;
    margin-bottom: 40px;

}
.nav-logo-link img {
    border-radius: 10%;
}
.nav-logo:hover {
    transform: scale(1.1); 
}
.nav-logo-link{
    margin:10px;
    margin-bottom: 40px;
}

.sidenav hr {
    margin-top:150px;
    margin-bottom:30px;
    border-color: rgba(255, 255, 255, 0)
}
/************ SIDENAV END ************/
