@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat&display=swap');

html{
    scroll-behavior: smooth;
}
body {
    background-color: #0b0c0f;
    overflow-x: hidden;
}
/**************** HEADER ****************/
header {
    display:grid;
    grid-template-columns: 1fr 2fr;
    /* position: sticky;
    top: 0; */
}
.home-title {
    align-self:center;
    width:100px;
    text-align: center;
    font-family: 'Montserrat';
    text-decoration: none;
    color: #dbd0d0;
}
.subpage-home-title {
    margin-left:162px;
}
nav {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right:35px;
    grid-column:2/3;
}
nav a {
    text-decoration: none;
    color: #dbd0d0;
    padding: 10px 30px 10px 30px;
    margin:auto 10px auto 10px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.2em;
    transition: background .2s ease-in-out;
}
nav a:hover{
    background-color: #23100e;
}
.selected-nav {
    background-color: #23100e;
    border-color:#35130f;
    color:#ef320d;
    border-style: solid;
    border-width: 1px;
}
.path-bar{
    margin:8px 48px auto 190px;
    padding:5px 10px 5px 10px;
    z-index: 10;
    background-color: #1e1f25;
    border-color:#26282e;
    border-radius: 13px;
    border-style:solid;
    border-width:1px;
    width: auto;
    grid-column:1/3;
    overflow:hidden;
}
.paths {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.path-bar a{
    text-decoration: none;
    padding:10px 16px 10px 16px;
    transition: background .2s ease-in-out;
    border-radius: 25px;
}
.path-bar a:not(.selected-nav) {
    color:#dbd0d0;
}
.path-bar a:hover {
    background-color: #23100e;
}
.path-separator {
    margin: auto 10px auto 10px;
    color:#dbd0d0;
}
#progress-bar {
    --scrollAmount: 0%;
    
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: var(--scrollAmount);
  
    /*  background: linear-gradient(to right, #F24E1E var(--scrollAmount), transparent 0);
    width: 100%; */
    
    height:5px;
    z-index:20;
    margin: 5px -10px -5px -10px;
    position: sticky;
    top:0;
  }
/**************** HEADER END ****************/

/************ SIDENAV ************/
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0b0c0f; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a:not(.nav-logo-link, .home-title) {
    padding: 6px 0px 6px 16px; /* right pad was 8px */
    text-decoration: none;
    color: white;
    display: block;
    transition: background .2s ease-in-out;
    border-radius: 25px;
  }  
  .sidenav a:hover:not(.nav-logo-link) {
    color: #f1f1f1;
    background-color: #23100e;
    ;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.sidenav img {
    z-index: 7;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/************ SIDENAV END ************/

/************ MAIN ************/
a {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Montserrat';
    color:#dbd0d0;
}
.path-bar a, .sidenav a {
    font-family: 'Montserrat';
}
li, ul, p:not(.path-bar p, button p) {
    font-family: 'Open Sans';
    color:#dbd0d0;
}
ul a {
    color:blue;
    font-family: 'Open Sans';
}
ul a:hover {
    color:purple;
}
hr {
    width:100%;
    height:0px;
}
.content {
    /* background-color: #121318;
    border-color:#26282e; */
    margin-top: 30px;
    margin-left: 182px; /* was 200px */
    margin-right: 40px;
    padding:10px 10px 10px 20px;

    /* border-radius: 25px;
    border-style:solid;
    border-width:1px; */
}
#socio-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 2fr 1fr;
}
.white {
    color:#dbd0d0;
}
td {
    border: 1px solid white;
    padding:10px;
}
td a {
    margin:20px;
}
td br {
    padding: 10px;
}
button {
    width:100px;
    height:100px;
    display:block;
    overflow: none;
    padding:0;
    background-color: #1e1f25;
    border:1px solid #26282e;
    margin:1px;
    transition: .2s ease-in-out;
}
button img {
    max-width: 100%;
    max-height: 100%;
    width:100%;
}
button:hover {
    background-color: #3d4049;
    cursor:pointer;
}
button p {
    font-family: 'Open Sans';
    color:white;
}
.section-grid {
    display:flex;
    flex-flow: row wrap;
}
section h1 {
    padding:0;
}
.break {
    flex-basis: 80%;
    height: 0;
}
/************ FOOTER ************/
footer {
    background-color: rgba(20,30,13, .7);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:rgb(31, 161, 101);
    text-decoration: none;
}
footer p a:hover {
    background-color: black;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
    width:75px;
}
footer a:hover{
    transition: .2s ease-in-out;
}
/************ FOOTER END ************/
